{{#if session.isLoggedIn}}
    {{#if activeScanner}}
        <ul>
            <li>Scanner {{activeScanner.scannerId}}</li>
            <li>Account {{activeScanner.accountId}}</li>
            <li>Borrow date {{activeScanner.borrowDate}}</li>
        </ul>
        
    {{else}}
        <p>You have no active scanner</p>
    {{/if}}
{{else}}
    <p>you are not logged in</p>
{{/if}}