<h1>Scanner</h1>
<a href="/scanner/create">Create new scanner</a>
{{#if errors.length}}
    <p>Got error</p>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    {{#if scanners.length}}
        <table border="solid">
            <thead>
                <tr>
                    <th>Scanner id</th>
                    <th>Scanner Number</th>
                    <th>In use</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Borrow</th>
                </tr>
            </thead>
            {{#each scanners}}
                <tr>
                    <td>{{scannerId}}</td>
                    <td>{{scannerNumber}}</td>
                    <td>yes</td>
                    <td><a href="/scanner/update/{{scannerId}}">Update scanner</a></td>
                    <td><a href="/scanner/delete/{{scannerId}}">Delete scanner</a></td>
                    <td><a href="/scanner/borrow/{{scannerId}}">Borrow scanner</a></td>
            {{/each}}
        </table>
    {{else}}
        <p>No scanners in db</p>
    {{/if}}
{{/if}}



{{!-- <div class="content">
<h1>All accounts</h1>
{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	
	{{#if accounts.length}}
		<ul>
			{{#each accounts}}
				<li><a href="/accounts/{{username}}">{{username}}</a></li>
			{{/each}}
		</ul>
	{{else}}
		<p>No accounts exist yet.</p>
	{{/if}}
	
{{/if}}
</div> --}}
    
