<h1>Scanner</h1>
<a href="/scanner/create">Create new scanner</a>
{{#if errors.length}}
    <p>Got error</p>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    {{#if scanners.length}}
        <table border="solid">
            <thead>
                <tr>
                    <th>Scanner id</th>
                    <th>Scanner Number</th>
                    <th>In use</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Borrow</th>
                    <th>Return</th>
                </tr>
            </thead>
            {{#each scanners}}
                <tr>
                    <td>{{scannerId}}</td>
                    <td>{{scannerNumber}}</td>
                    <td>{{scannerInUse}}</td>
                    <td><a href="/scanner/update/{{scannerId}}">Update scanner</a></td>
                    <td><a href="/scanner/delete/{{scannerId}}">Delete scanner</a></td>
                    <td><a href="/scanner/borrow/{{scannerId}}">Borrow scanner</a></td>
                    {{#if scannerInUse}}
                        <td><a href="/scanner/return/{{scannerId}}">Return scanner</a></td>
                    {{/if}}
            {{/each}}
        </table>
    {{else}}
        <p>No scanners in db</p>
    {{/if}}
{{/if}}
    
