<h1>Update scanner</h1>
{{#if scanner}}
    <form action="/scanner/update/{{scanner.scannerId}}" method="post">
        
        <div>
            Scanner Number<br>
            <input type="text" name="scannerId" value="{{scanner.scannerId}}">
        </div>
        <div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">Update</button>
        </div>
    </form>
{{else}}
    <h2>Not Found</h2>
    <p>That scanner does not exist</p>
{{/if}}
{{#if errors}}
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}