{{#if errors.length}}
	<p>Couldn't update new because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}
{{#if account}}       
    <form method="POST" action="/account/update/{{account.accountId}}" >
        <div>
            Username: <br>
            <input type="text" name="username" value="{{username}}"placeholder="Username"><br>
        </div>
        <div>
            Password: <br>
            <input type="password" name="password"value="{{password}}" placeholder="Password"><br>
        </div>
          <div>
            Should user have admin authorization? yes/no<br>
            <input type="password" name="admin"value="{{admin}}" placeholder="Is admin? "><br>
        </div>
        <div>      
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        	<button type="submit">Update account</button>	
        </div>   
    </form>
{{else}}
    <p>Account does not exist</p>
{{/if}}
